<div class="reservation-container">
  <input
    class="reservation-container-title"
    type="text"
    placeholder="Add title"
  />
  <div class="reservation-container-field">
    <img src="../../assets/clock.svg" alt="clock icon" />
    <div class="reservation-container-field-calendar">
      <p-calendar #myCalendar [(ngModel)]="date"></p-calendar>
      <p>
        <span (click)="myCalendar.toggle()">{{ formatDate(date) }}</span> - 3:00
        - 6:00pm
      </p>
    </div>
  </div>

  <div class="reservation-container-field">
    <img src="../../assets/guests.svg" alt="clock icon" />
    <input
      class="reservation-container-field-guests"
      type="text"
      placeholder="Guests number"
    />
  </div>
  <div>
    <div class="reservation-container-field">
      <img src="../../assets/rooms.svg" alt="clock icon" />
      <button
        (click)="onClick()"
        class="reservation-container-field-rooms"
        [ngClass]="{ active: showRoomsSetup }"
      >
        <div *ngIf="roomSetup == null; else showLegend">Room setup</div>
        <ng-template #showLegend>
          <div class="reservation-container-field-rooms-item">
            <div
              class="reservation-container-field-rooms-item-color"
              [style.backgroundColor]="roomSetup!.color"
            ></div>
            <p>{{ roomSetup?.title }}</p>
          </div>
        </ng-template>
        <span class="material-symbols-outlined" *ngIf="!showRoomsSetup">
          expand_more </span
        ><span class="material-symbols-outlined" *ngIf="showRoomsSetup">
          expand_less
        </span>
      </button>
    </div>

    <div
      class="reservation-container-field-rooms-container"
      *ngIf="showRoomsSetup"
    >
      <div
        *ngFor="let color of colorLegend"
        class="reservation-container-field-rooms-item"
        (click)="selectRoomSetup(color)"
        [ngClass]="{ selected: roomSetup?.title === color.title }"
      >
        <div
          class="reservation-container-field-rooms-item-color"
          [style.backgroundColor]="color.color"
        ></div>
        <p>{{ color.title }}</p>
      </div>
    </div>
  </div>
  <div class="reservation-container-field">
    <img src="../../assets/description.svg" alt="clock icon" />
    <input
      class="reservation-container-field-guests"
      type="text"
      placeholder="Add description"
    />
  </div>
  <div class="reservation-container-field">
    <img src="../../assets/location.svg" alt="clock icon" />
    <input
      class="reservation-container-field-location"
      placeholder="Find a room"
    />
  </div>
  <div class="reservation-container-field">
    <img src="../../assets/requester.svg" alt="clock icon" />
    <input
      class="reservation-container-field-location"
      placeholder="Find requester"
    />
  </div>
  <button class="save" [ngClass]="{ disabled: disabled }">SAVE</button>
</div>
