.booking {
    display: flex;
}

header {
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
}

p,
.row {
    margin: 0;
    padding: 0;
}

.home-container {
    padding: 0 24px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    color: #64748B;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.tg td {
    border-color: darken($color: #eee, $amount: 20);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    word-break: normal;
}

.tg th {
    border-color: darken($color: #eee, $amount: 20);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    border-top: unset;
    height: 25px;
    position: relative;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.cell {
    position: relative;
    box-sizing: border-box;
    width: 125px;
    height: 50px;
    font-family: 'Roboto';
}

.time {
    border: unset !important;
    text-align: right;
    padding-right: 15px;
    width: 50px;
}

.color-legend {
    div {
        display: flex;
        align-items: center;
        column-gap: 9px;

        p {
            font-size: 16px;
            color: #202124;
        }

        input {
            width: 15px;
            height: 15px;
            border-color: white;

            &:checked {
                border-color: white;
            }
        }
    }
}

.reserve-button {
    width: 115px;
    background-color: #0075A9;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0075A9;
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    color: #FFFFFF;
    margin: 24px 0;
}

::ng-deep {

    .p-dialog .p-dialog-content,
    .p-dialog .p-dialog-header {
        padding: 0;
        position: relative;
    }

    .p-dialog .p-dialog-header-icons {
        position: absolute;
    }

    .p-dialog{
        &-header-icons{
            right: 0px;
            z-index: 1;
            top: 0px;
        }
    }

    .p-dialog-mask {
        backdrop-filter: blur(1px);
    }
}