<div>
  <form [formGroup]="bookRoomForm" (ngSubmit)="onSubmit()">
    <label>From Hours:</label>
    <input type="number" formControlName="fromHours" />
    <label>From Minutes:</label>
    <input type="number" formControlName="fromMinutes" />
    <label>To Hours:</label>
    <input type="number" formControlName="toHours" />
    <label>To Minutes:</label>
    <input type="number" formControlName="toMinutes" />
    <!-- Input field for room name -->
    <label>Room Name:</label>
    <input type="text" formControlName="roomName" />
    <button type="button" (click)="addRoom()">Add Room</button>

    <!-- Display added rooms -->
    <div *ngFor="let room of bookRoomForm.get('rooms')!.value">
      {{ room }}
    </div>
    <label>Code:</label>
    <input type="text" formControlName="code" />
    <label>Name:</label>
    <input type="text" formControlName="name" />

    <button type="submit">Submit</button>
  </form>
  <br />
  <br />
  <div class="row">
    <div class="col-3">
      <div class="card flex justify-content-center">
        <p-calendar
          class="max-w-full"
          [(ngModel)]="date"
          [inline]="true"
          [showWeek]="true"
        ></p-calendar>
      </div>
    </div>
    <div class="col-9">
      <table class="tg">
        <thead>
          <tr>
            <th class="cell time"></th>
            <th class="cell" *ngFor="let room of rooms">{{ room }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hour of hours; let i = index">
            <td class="cell time">{{ hour }}</td>
            <!-- for Zayed -->
            <td class="cell" *ngFor="let room of rooms">
              <app-cell
                *ngFor="let booking of getBooking(hour, room); let i = index"
                class="hour"
                [booking]="booking"
                [roomName]="room"
                [division]="getBooking(hour, room).length"
                [index]="i"
                [extend]="setExtend(hour, room, booking.id)"
                (deleteBooking)="deleteBooking($event)"
                (extendTimeMouseDown)="onMouseDownToExtend($event)"
                (moveMouseDown)="onMouseDownToMove($event)"
                [color]="getBooking(hour, room)[0].color"
                [lighterColor]="getBooking(hour, room)[0].lighterColor"
                [showOperation]="getBooking(hour, room)[0].showOperation"
              ></app-cell>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
