<div
  *ngIf="booking && !hide(); else noBookingFound"
  class="cell"
  [ngStyle]="{
    height: getHeight() + 'px',
    width: getWidth()-10 + 'px',
    top: getTop() + 'px',
    left: getLeft() + 'px',
    'background-color':lighterColor,
  }"
  (mousedown)="onMouseDownToMove($event)"
>
  <div class="ribbon" [ngStyle]="{ 'background-color': color }"></div>
  <div class="cell-info">
    <p class="code">{{ booking.code }}</p>
    <p class="name">{{ booking.name }}</p>
  </div>
  <div class="cell-dragging" (mousedown)="onMouseDownToExtend($event)"></div>
  <div *ngIf="showOperation" [ngStyle]="{
    width: getWidth()-10 + 'px',
  }" class="cell-operation">Operations</div>
</div>
<ng-template #noBookingFound></ng-template>
